# REQUIRED MODULES
# run "python -m pip install -r ./requirements.txt" in this directory to quickly install them
# we will presumably add to this list as needed

simpleaudio # for playing WAV files
ffmpeg-python # for playing other audio files on windows (potentially)
pydub # for playing other audio files on windows (potentially)
mysql # for database stuff
pandas # for the help function
